<div class="mobil nav">
  <div class="logo">
    <img class="img-logo" [src]="logo" alt="img-logo">
  </div>
  <div class="item-my-nav">
    <h1 class="bolt-one">Mi Librería</h1>
    <ul class="item-router">
      <li routerLinkActive="active"><a class="regular-one" routerLink="/">Recientes</a></li>
      <li><a href="#" class="regular-one">Artistas</a></li>
      <li><a href="#" class="regular-one">Álbums</a></li>
      <li><a href="#" class="regular-one">Canciones</a></li>
      <li><a href="#" class="regular-one">Estaciones</a></li>
    </ul>
  </div>
  <div class="item-my-nav">
    <h1 class="bolt-one">Playlist</h1>
    <ul class="item-router">
      <li><a href="#" class="regular-one">Metal</a></li>
      <li><a href="#" class="regular-one">Para bailar</a></li>
      <li><a href="#" class="regular-one">Rock 90s</a></li>
      <li><a href="#" class="regular-one">Baladas</a></li>
    </ul>
  </div>

</div>
