<div class="resultados">
  <h1 class="bolt-one">Resultados</h1>
  <div class="content-list-music">
    <div class="box-r-music" *ngFor="let music of resultados">
      <div class="portada-option-play" >
        <button class="btn-r-play">
          <i class="fas fa-play"></i>
        </button>
        <div class="options">
          <div *ngFor="let i of [1,1,1]"></div>
        </div>
        <img [src]="music.album.cover_medium" alt="">
      </div>
      <div class="info-music-author">
        <h1 class="name-music bol-qs">{{music.title}}</h1>
        <h2 class="name-author regular-qs">{{music.artist.name}}</h2>
      </div>
    </div>
  </div>
</div>
